.buttonIcon {
  background: transparent;
  border: none;
  border-radius: 50%;
  block-size: 2.5rem;
  inline-size: 2.5rem;
  cursor: pointer;
  color: var(--gray10);
}

.buttonIcon.is-white {
  background: var(--white);
  color: var(--gray50);
}

.buttonIcon.is-primary {
  background: var(--primary);
  color: var(--white);
}

.buttonIcon .icon-play {
  position: relative;
  left: 1px;
  top: 1px;
}

.buttonIcon:active {
  transform: scale(0.95);
}

.buttonIcon:hover:is([class*="is-"]) {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
}
