@import "./icons.css";
@import "./fonts.css";
@import "./body.css";
@import "./link.css";
@import "./button-icon.css";
@import "./sidebar.css";
@import "./ellipsis.css";

:root {
  --primary: #00b050;
  --white: #ffffff;
  --gray10: #b3b3b3;
  --gray20: #737373;
  --gray30: #282828;
  --gray40: #181818;
  --gray50: #121212;
  --gray60: #000000;
  --basefontFamily: Avenir, Helvetica, sans-serif;
  --headline1: bold 2rem / normal var(--basefontFamily);
  --headline2: bold 1.5rem/1.75rem var(--basefontFamily);
  --baseFont: normal 0.875rem/1.375rem var(--basefontFamily);
  --baseFont: bold 0.875rem/1.375rem var(--basefontFamily);
  --button: normal 0.875rem/1rem var(--basefontFamily);
  --smallFont: normal 0.65625rem / normal var(--basefontFamily);
}
