.playlistB {
  display: flex;
  inline-size: 17.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s background;
  flex-shrink: 0;
}

.playlistB:hover,
.playlistB:focus-within {
  background: rgba(255, 255, 255, 0.2);
}

.playlistB-cover img {
  vertical-align: middle;
  block-size: 4.75rem;
  inline-size: 4.75rem;
}

.playlistB-details {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.playlistB-title {
  font: var(--baseFont);
  font-weight: bold;
  color: var(--white);
  margin: 0;
}

.playlistB:hover .playlistB-control,
.playlistB:focus-within .playlistB-control {
  opacity: 1;
}

.playlistB-control {
  opacity: 0;
  transition: 0.3s opacity;
}
