@import "./slider.css";
@import "./player-controls.css";
@import "./player-playback.css";
@import "./player-volume.css";
@import "./now-playing.css";

.player {
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
  box-shadow: inset 0px 1px 0 var(--gray30);
}

.player > * {
  flex: 1;
}

.player-control {
  border: 0;
  padding: 0.5rem;
  background: none;
  color: var(--gray10);
  font-size: 1rem;
  cursor: pointer;
}

.player-playerVolume {
  display: flex;
  justify-content: flex-end;
}
