@import "./playlist-a.css";
@import "./playlist-b.css";

.playlistList-top {
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  margin-block-end: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.playlistList-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}

.playlistList-container::-webkit-scrollbar {
  display: none;
}

.playlistList-title {
  font: var(--headline2);
  color: var(--white);
  margin: 0;
}
