::-webkit-scrollbar {
  inline-size: 0.5rem;
  block-size: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--gray60);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--gray50);
}
