.search {
  position: relative;
  flex: 1;
}

.search:focus-within i {
  color: var(--gray30);
}

.search i {
  position: absolute;
  font-size: 1rem;
  block-size: 1rem;
  left: 0.5rem;
  top: calc(50% - 0.5rem);
  color: var(--gray10);
}

.search input {
  font: var(--baseFont);
  font-weight: normal;
  color: var(--gray30);
  border-radius: 1.25rem;
  border: 0;
  max-inline-size: 22rem;
  inline-size: 100%;
  padding: 0.5rem;
  padding-inline-start: 2rem;
}

.search input::-webkit-input-placeholder {
  color: var(--gray10);
}
